<h3>Quick search</h3>
<form class="search" action="search.html" method="get">
    <input type="text" size="18" name="q"/><input type="submit" value="Go"/>
    <input type="hidden" name="check_keywords" value="yes"/>
    <input type="hidden" name="area" value="default"/>
</form>
&nbsp;
